@import url(WEB/css/bevellier.css);

body{
    display: flex;
    background-image: url(pics/stamp.webp);
    background-attachment: fixed;
    overflow: hidden;
    height: 100%;    
    margin: 0;         
    padding: 0;
    min-height: 920px;
    font-family: 'Bevellier-Black';
    color:#4e1315;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    text-align: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.frame{
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 920px;
    width: 340px;
    background-color: #BB8585;
    margin-left: 1cm;
    margin-right: 1cm;
    position: relative;

}

.title{
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    display: flex;
    flex-grow: 1;
    font-size: 35px;
    top: 200px;    
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 0.9;
}

.subtitle{
    font-family: 'Bevellier-Regular';
    position: absolute;
    top: 190px;
}

#or{
    position: absolute;
    top: 9.5cm;
    font-size: 24px;
}

#awwyeyy{
    position: absolute;
    top: 5cm;
}

#youremine{
    position: absolute;
    top: 9.5cm;
}

#saturday{
    position: absolute;
    top: 12cm;
}

#yeyyy{
    position: absolute;
    top: 4cm;
}


button{
    background: #DAA691;
    padding: 0.30em 1em;
    font-family: 'Bevellier-Black';
    font-size: xx-large;
    color: #ffffff;
    border: none;
    border-radius: 1000px;
    transform: scale(1);
}

button:active{
        transform: scale(0.8);

}

#smallButton{
    transform: scale(0.3);
    position: absolute;
    top: 18cm;
    right: 3cm;
}
#smallButton:active{
        transform: scale(0.2);
}

#goback{
    position: absolute;
    top: 15cm;
    left: 2.5cm;
}

#yesss{
    position: absolute;
    top: 9cm;
    left: 2.9cm;
}

#No{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12cm;
    right: 3.1cm;
}

#comment{
    position: absolute;
    top: 14cm;
}

.heart{
    transform: scale(0.08) rotate(25deg);
    position: absolute;
    top: -1400px;
    left: -1490px;
    
}

#udheart{
    transform: scale(0.08) rotate(180deg);
}

.stamp{
    display: flex;
    transform: scale(0.3) rotate(-25deg);
    position: absolute;
    top: 12cm;
    left: 0.1cm;
}

#udstamp{
    transform: scale(0.3) rotate(180deg);
}


.hera{
    position: relative;
    transform: scale(0.1);
    bottom: 16cm;
    left: 4cm;
}

#udhera{
    transform: scale(0.1) rotate(180deg);
}


.lili{
    transform: scale(0.2) rotate(25deg); 
    position: relative; 
    bottom: 63cm;
    right: 5cm;
}
#udlili{
    transform: scale(0.2) rotate(180deg);
}

.bloom{
    transform: scale(1) rotate(-25deg); 
    position: relative; 
    bottom: 123cm;
    left: 5cm;
}

#udbloom{
    transform: scale(1) rotate(180deg);
}


